<FilesMatch "\.(in|m4)$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "Makefile$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "CVS">
  Order allow,deny
  Deny from all
</FilesMatch>

RewriteEngine on

RewriteRule ^doc/interpreter/(.*) http://www.gnu.org/software/octave/doc/v4.0.1/$1 [R]
