<FilesMatch "\.(in|m4)$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "Makefile$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "CVS">
  Order allow,deny
  Deny from all
</FilesMatch>

RewriteEngine on

RewriteRule ^octave.pdf doc/octave-4.0.1.pdf [L]

RewriteRule ^doc/interpreter$ doc/interpreter/index.html
RewriteRule ^doc/interpreter/(.*) doc/v4.0.1/$1 [L]
